body {
  margin:0;background:#020617;
  display:flex;flex-direction:column;align-items:center;height:100vh;
}
.controls { color:white;margin:10px; }
.flipbook {
  width:90vw;height:85vh;
  perspective:2000px; position:relative;
}
.page {
  position:absolute;width:50%;height:100%;
  background-size:cover;background-position:center;
  box-shadow:inset 0 0 20px rgba(0,0,0,.3);
}

