/* LOADER OVERLAY */
.loader {
  position: fixed;
  inset: 0;
  background: #020617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 100;
}

.loader.show {
  opacity: 1;
  pointer-events: all;
}

/* SPINNER */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #38bdf8;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
